apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: moto
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
