apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  namespace: moto
data:
  datasource.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        orgId: 1
        url: http://prometheus.moto.svc.cluster.local:9090
        isDefault: true
        editable: true
        jsonData:
          httpMethod: POST
          timeInterval: "15s"
