apiVersion: v1
kind: Service
metadata:
  name: redis-exporter
  namespace: moto
  labels:
    app: redis-exporter
spec:
  selector:
    app: redis-exporter
  ports:
    - port: 9121
      targetPort: 9121
      protocol: TCP
  type: ClusterIP
